<template>
  <div class="home">
    <home-category
      v-for="category in Categories"
      :key="category.ID"
      :Category="category"
    />
  </div>
</template>

<script>
import HomeCategory from "../components/HomeCategory.vue";

export default {
  name: "Home",
  components: {
    HomeCategory
  },
  props: {
    Categories: {
      required: true
    }
  }
};
</script>
