<template>
  <div class="login">
    <v-container fluid>
      <v-row class="justify-space-around">
        <v-card dark class="my-5" min-width="400">
          <v-toolbar color="grey darken-4">
            <v-toolbar-title>Be kind and register
            </v-toolbar-title>
            <v-spacer />
            <v-icon>mdi-penguin</v-icon>
          </v-toolbar>
          <v-container fluid>
            <v-col class="justify-space-around">
            <v-form v-model="complete">
              <v-text-field
                outlined
                required
                label="First name"
                v-model="firstname"
                :rules="namerules"
                class="mx-4 mt-2" />
              <v-text-field
                outlined
                required
                label="Last name"
                v-model="lastname"
                :rules="namerules"
                class="mx-4 mt-2" 
               />
              <v-text-field
                outlined
                required
                label="E-mail"
                v-model="email"
                :rules="emailrules"
                class="mx-4"
              />
            </v-form>
            <v-row class="justify-space-around">
            <v-btn @click="login" :disabled="!complete">enter</v-btn>
            </v-row>
            </v-col>
          </v-container>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Registration",
  data() {
    return {
      firstname: "",
      lastname: "",
      namerules: [
        v => !!v || "Please enter your name",
        v => v.length > 1 || "Please enter your name",
        v => /^[a-zA-Z]+$/.test(v) || "Name should not contain numbers or special characters"
      ],
      email: "",
      emailrules: [
        v => !!v || "Please enter your e-mail",
        v => /.+@.+/.test(v) || "Not a valid e-mail address"
      ],
      complete: false
    };
  },
  computed: {
    registered() {
      return this.$store.state.registered;
    }
  },
  mounted() {
    if (this.registered) {
      this.$router.replace({ name: "Home" });
    }
  },
  methods: {
    login() {
      this.$store.commit("register", true);
      this.$cookies.set("registered", true, "4d")
      this.$router.replace({ name: "Home" });
    }
  }
};
</script>
