<template>
  <div class="about">
    <v-container fluid>
      <v-row class="justify-space-around">
        <v-card dark class="ma-5" max-width="660">
          <v-toolbar color="grey darken-4">
            <v-toolbar-title>{{ subcategory }}</v-toolbar-title>
            <v-spacer />
            <v-flex class="mt-6" xs7>
              <v-select
                v-model="film"
                :items="films"
                item-text="Title"
                return-object
                label="Film"
                dense
                outlined
                cols="3"
              >
              </v-select>
            </v-flex>
          </v-toolbar>
          <screen-player
            :Film="film.URL"
            :Start="films[0].Start"
            :End="films[0].End"
          />
          <v-card-title
            v-if="film.Type == 'movie'"
            class="purple--text text--lighten-3"
            >{{ film.Title }} ({{ film.Year }})</v-card-title
          >
          <v-card-text
            v-if="film.Type == 'movie'"
            class="purple--text text--lighten-3"
            >by {{ film.Director }}</v-card-text
          >
          <v-card-text v-if="film.Type == 'movie'">
            {{ film.Country }}, {{ film.Duration }}</v-card-text
          >
          <v-card-text class="grey--text text--lighten-2">{{
            film.Synopsis
          }}</v-card-text>
          <v-fab-transition>
            <v-btn
              light
              absolute
              bottom
              right
              fab
              color="purple lighten-3"
              v-if="showVote"
              @click="linkVote(film.Vote)"
              >vote
            </v-btn>
          </v-fab-transition>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import ScreenPlayer from "../components/Player.vue";

export default {
  name: "Screen",
  components: {
    ScreenPlayer
  },
  props: {
    Categories: {
      required: true
    }
  },
  data() {
    return {
      film: {
        Title: "Welcome to ReAnima",
        Type: "other",
        URL: "https://player.vimeo.com/video/474994812?autoplay=1",
        Vote: ""
      }
    };
  },
  computed: {
    subcategory() {
      return this.$store.state.category;
    },
    films() {
      var films = [];
      this.Categories.forEach(category => {
        category.Screenings.forEach(screening => {
          if (screening.Title == this.subcategory) {
            screening.Entries.forEach(entry => {
              films.push(entry);
            });
          }
        });
      });
      return films;
    },
    showVote() {
      if (this.film.Vote == "") {
        return false;
      } else {
        return true;
      }
    }
  },
  methods: {
    linkVote(url) {
      window.open(url, "_blank");
    }
  },
  watch: {
    subcategory: function() {
      this.film = {
        Title: "Welcome to ReAnima",
        Type: "other",
        URL: "https://player.vimeo.com/video/474994812?autoplay=1",
        Vote: ""
      };
    }
  }
};
</script>
