<template>
  <div>
    <v-card dark class="mt-5 mx-5" color="transparent">
      <v-toolbar dark color="#000000cc">
        <v-toolbar-title
          class="purple--text text--lighten-3 font-weight-bold"
          >{{ Category.Title.toUpperCase() }}</v-toolbar-title
        >
        <v-spacer />
        <v-icon color="grey lighten-2">{{ Category.Icon }}</v-icon>
      </v-toolbar>
    </v-card>
    <v-container fluid>
      <v-row class="justify-space-around">
        <v-card
          dark
          class="ma-3"
          v-for="screening in displayData"
          :key="screening.title"
        >
          <v-carousel height="auto" hide-delimiters show-arrows-on-hover>
            <v-carousel-item
              v-for="entry in screening.stills"
              :key="entry.display"
              @click="choseCategory(screening.title)"
            >
              <div style="cursor: pointer">
                <v-system-bar color="grey darken-4">
                  <span>{{ entry.display }}</span>
                </v-system-bar>
                <v-img :src="entry.image" max-width="380"> </v-img>
              </div>
            </v-carousel-item>
          </v-carousel>
          <v-toolbar dark color="grey darken-4">
            <v-toolbar-title class="purple--text text--lighten-3">{{
              screening.title
            }}</v-toolbar-title>
          </v-toolbar>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "HomeCategory",
  props: {
    Category: {
      required: true
    }
  },
  computed: {
    displayData() {
      var data = [];
      this.Category.Screenings.forEach(screening => {
        var title = screening.Title.toLowerCase();
        title = title.replaceAll(" ", "_");
        title = title.replace("å", "a");
        title = title.replace("ø", "o");
        var screen = {
          title: screening.Title,
          stills: [
            {
              display: screening.Subtitle,
              image: require("../assets/titles/" + title + "_title.png")
            }
          ]
        };
        screening.Entries.forEach(entry => {
          if (entry.Type == "movie") {
            var still = {
              display: entry.Title,
              image: require("../assets/stills/" +
                title +
                "_" +
                entry.ID +
                ".png")
            };
            screen.stills.push(still);
          }
        });
        data.push(screen);
      });
      return data;
    }
  },
  methods: {
    choseCategory(category) {
      this.$store.commit("chosenCategory", category);
      this.$router.push("Screen");
    }
  }
};
</script>
