<template>
  <div
    :style="[{ backgroundImage: backgroundImg }, { backgroundSize: '100%' }]"
  >
    <v-container fluid>
      <v-row class="justify-space-around">
        <v-card dark color="#000000aa" width="97%">
          <v-col cols="12">
            <v-row class="justify-space-around text-center">
              <v-col cols="5">
                <v-card-text class="purple--text text--lighten-3 mt-3"
                  ><h2>Please consider supporting ReAnima.</h2></v-card-text
                >
                <v-card color="transparent" flat>
                  <v-row class="justify-space-around">
                    <v-img
                      alt="Vipps QR"
                      class="shrink my-3"
                      contain
                      :src="vipps"
                      transition="scale-transition"
                      width="300"
                    />
                  </v-row>
                </v-card>
                <v-card-text class="purple--text text--lighten-3"
                  ><h2>IBAN: NO41 3633 5449 104</h2></v-card-text
                >
                <v-card-text class="purple--text text--lighten-3"
                  ><h2>Thank you!</h2></v-card-text
                >
              </v-col>
              <v-divider vertical inset />
              <v-col cols="6">
                <v-card-text class="purple--text text--lighten-3"
                  ><h2>Our sponsors</h2></v-card-text
                >
                <v-container fluid>
                  <v-row class="justify-space-around">
                    <v-avatar
                      size="70"
                      v-for="sponsor in sponsors"
                      :key="sponsor.name"
                      class="my-3 mx-2"
                      @click="linkSponsor(sponsor.url)"
                      style="cursor: pointer"
                    >
                      <v-img :alt="sponsor.name" :src="sponsor.img" />
                    </v-avatar>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-col>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "Bottom",
  data() {
    return {
      vipps: require("../assets/logos/vipps.png"),
      backgroundImg:
        "url(" + require("../assets/bg/background_bottom.png") + ")",
      sponsors: [
        {
          name: "animocje",
          img: require("../assets/sponsors/animocje.png"),
          url: "https://www.animocje.com/"
        },
        {
          name: "bergen offentlige bibliotek",
          img: require("../assets/sponsors/bergenbibliotek.png"),
          url: "https://bergenbibliotek.no/"
        },
        {
          name: "red cross bergen",
          img: require("../assets/sponsors/redkrossbergen.png"),
          url: "https://www.facebook.com/bergenrodekors"
        },
        {
          name: "prime the animation",
          img: require("../assets/sponsors/prime.png"),
          url: "http://primetheanimation.upv.es"
        },
        {
          name: "rubika",
          img: require("../assets/sponsors/rubika.png"),
          url: "https://rubika-edu.com/"
        },
        {
          name: "zippyframes",
          img: require("../assets/sponsors/zippyframes.png"),
          url: "https://www.zippyframes.com/"
        },
        {
          name: "tofuzi",
          img: require("../assets/sponsors/tofuzi.png"),
          url: "http://www.adf.ge/en/"
        },
        {
          name: "tingprint",
          img: require("../assets/sponsors/tingprint.png"),
          url: "http://www.tingprint.lv/"
        },
        {
          name: "takla",
          img: require("../assets/sponsors/takla.png"),
          url: "http://www.Takladesign.no"
        },
        {
          name: "peinataland",
          img: require("../assets/sponsors/pinataland.png"),
          url: "https://www.facebook.com/peinataland"
        },
        {
          name: "achtung mag",
          img: require("../assets/sponsors/achtung.png"),
          url: "https://www.achtungmag.com/"
        }
      ]
    };
  },
  methods: {
    linkSponsor(url) {
      window.open(url, "_blank");
    }
  }
};
</script>
