<template>
  <v-app-bar app dark color="#000000aa" class="ma-2">
    <div class="d-flex align-center">
      <v-img
        contain
        width="150"
        alt="ReAnima Logo"
        class="shrink mr-2"
        style="cursor: pointer"
        transition="scale-transition"
        :src="require('../assets/logos/reanima_appbar_logo.png')"
        @click="linkSocMed('https://reanimafestival.net/')"
      />
    </div>
    <v-spacer></v-spacer>
    <v-btn
      icon
      class="mx-2"
      color="grey lighten-2"
      v-for="medium in socialMedia"
      :key="medium.id"
      @click="linkSocMed(medium.url)"
    >
      <v-icon dark>{{ medium.icon }}</v-icon>
    </v-btn>
    <template v-slot:extension v-if="registered">
      <v-container fluid>
        <v-row>
          <v-btn
            text
            tile
            large
            color="grey lighten-2"
            @click="$router.replace({ name: 'Home' })"
          >
            <v-icon left dark>mdi-home</v-icon>
            Home
          </v-btn>
          <div v-for="category in Categories" :key="category.Title">
            <v-menu bottom offset-y open-on-hover>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  text
                  tile
                  large
                  color="grey lighten-2"
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon left dark>{{ category.Icon }}</v-icon>
                  {{ category.Title }}
                </v-btn>
              </template>
              <v-list dark>
                <v-list-item
                  v-for="subcategory in category.Screenings"
                  :key="subcategory.Title"
                  @click="choseCategory(subcategory.Title)"
                >
                  <v-list-item-title>{{ subcategory.Title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
        </v-row>
      </v-container>
    </template>
  </v-app-bar>
</template>

<script>
export default {
  name: "PageTop",
  props: {
    Categories: {
      required: true
    }
  },
  data() {
    return {
      socialMedia: [
        {
          id: "facebook",
          icon: "mdi-facebook",
          url: "https://www.facebook.com/reanimafestival"
        },
        {
          id: "instagram",
          icon: "mdi-instagram",
          url: "https://www.instagram.com/reanimafestival"
        },
        {
          id: "twitter",
          icon: "mdi-twitter",
          url: "https://www.twitter.com/reanimafestival"
        }
      ]
    };
  },
  computed: {
    registered() {
      return this.$store.state.registered;
    }
  },
  methods: {
    linkSocMed(url) {
      window.open(url, "_blank");
    },
    choseCategory(category) {
      this.$store.commit("chosenCategory", category);
      if (this.$route.name != "Screen") {
        this.$router.replace({ name: "Screen" });
      } else {
        this.$forceUpdate();
      }
    }
  }
};
</script>
