<template>
  <div class="ma-2">
    <div v-if="showFilm">
      <iframe
        :src="Film"
        width="100%"
        height="360"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen
      ></iframe>
    </div>
    <div v-if="waitFilm">
      <v-card dark class="ma-2" width="100%" height="360" elevation="0">
        <v-row justify="center">
          <v-card-title class="my-6"
            >This screening hasn't started yet</v-card-title
          >
        </v-row>
        <v-row justify="center">
          <iframe
            src="https://player.vimeo.com/video/475070574?autoplay=1&loop=1"
            width="50%"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </v-row>
      </v-card>
    </div>
    <div v-if="finishFilm">
      <v-card dark class="ma-2" width="100%" height="360" elevation="0">
        <v-row justify="center">
          <v-card-title class="my-6">This screening is over</v-card-title>
        </v-row>
        <v-row justify="center">
          <iframe
            src="https://player.vimeo.com/video/475070574?autoplay=1&loop=1"
            width="50%"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </v-row>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "ScreenPlayer",
  props: {
    Film: {
      required: true
    },
    Start: {
      required: true
    },
    End: {
      required: true
    }
  },
  computed: {
    startFilm() {
      const now = new Date();
      const start = new Date(this.Start);
      const distance = start.getTime() - now.getTime();
      if (distance < 0) {
        return true;
      } else {
        return false;
      }
    },
    stopFilm() {
      const now = new Date();
      const end = new Date(this.End);
      const distance = end.getTime() - now.getTime();
      if (distance < 0) {
        return true;
      } else {
        return false;
      }
    },
    showFilm() {
      if (this.startFilm && !this.stopFilm) {
        return true;
      } else {
        return false;
      }
    },
    waitFilm() {
      if (!this.startFilm && !this.stopFilm) {
        return true;
      } else {
        return false;
      }
    },
    finishFilm() {
      if (this.startFilm && this.stopFilm) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
