<template>
  <v-app>
    <div
      :style="[
        { backgroundImage: backgroundImg },
        { backgroundSize: '100%' },
        { backgroundColor: 'black' }
      ]"
    >
      <page-top :Categories="program.Categories" />
      <v-main dark>
        <router-view v-bind="{ Categories: program.Categories }" />
      </v-main>
      <page-bottom />
    </div>
  </v-app>
</template>

<script>
import PageBottom from "./components/PageBottom.vue";
import PageTop from "./components/PageTop.vue";
import data from "./assets/reanima.json";

export default {
  name: "App",
  components: {
    PageTop,
    PageBottom
  },
  data() {
    return {
      name: this.$store.state.name,
      backgroundImg: "url(" + require("./assets/bg/backround_purple.png") + ")",
      program: data
    };
  },
  computed: {
    category() {
      return this.$store.state.category;
    },
    registered() {
      return this.$store.state.registered;
    }
  },
  mounted() {
    if (this.$cookies.get("registered")) {
      this.$store.commit("register", true);
    }
    if (!this.registered) {
      this.$router.replace({ name: "Registration" });
    }
  }
};
</script>
